# Configuration de l'environnement

# Chemin vers les binaires de Poppler (requis pour PDF -> Images)
# Windows : C:\chemin\vers\poppler-xx\Library\bin
# Linux/macOS : Généralement non requis si installé via package manager (apt, brew)
POPPLER_PATH=
