# MongoDB
PORT=5000
MONGODB_URI=mongodb://localhost:27017/hackathon_docs
NODE_ENV=development

# MinIO ou S3 Storage (exemple pour minio)
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_RAW=raw-documents
MINIO_BUCKET_CLEAN=clean-documents
MINIO_BUCKET_CURATED=curated-documents

# DL
DATALAKE_URL=http://localhost:3000

# Airflow 
AIRFLOW_API_URL=http://localhost:8080/api/v1
AIRFLOW_DAG_ID=document_processing_pipeline
